body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  background-color: #fff;
  /* Enlaza la tipografia Open Sans */
  font-family: 'Open Sans', sans-serif;
}


/*-------- Contenedor Flexbox --------*/
.flex-container{
	display: flex;
}

/*----------- Menu -----------*/
.menu{
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.menu.flex-container{
	justify-content: flex-start;
}

.logo-container{
	margin-left: auto;
	margin-right: 20px;
}

.flex-container .logo{
	width: 70px;
	height: 70px;
}

a {
  color: #373B47;
  text-decoration: none;
}

a:hover {
  color: #E95853;
}

.link{
  font-weight: 700;
  padding: 21px;
  display: inline-block;
}

/*----------- HOME -----------*/
#home{
	height: 600px;
	margin-top: 70px;

	background-image: url(../assets/images/bg-home.jpg);
	background-position: center;
	background-size: cover; /*cover: imagen de fondo debe ser escalada*/
	background-attachment: fixed; /*imagen de fondo se fija o se desplaza con el resto de la página.*/
	background-repeat: no-repeat;

	justify-content: center; /*Solo eje X*/
	align-items: center; /*Solo eje Y*/
	flex-direction: column;
	/*Elementos centrados y en columnas*/

	color: whitesmoke;
}

.text-home{
	font-size: 2.4em;
}

.btn-home{
  background: #2Ecc71;
  color: #fff;
  padding: 11px 20px;
  border-radius: 1px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 63px;
  display: inline-block;
  font-size: 14px;
  border-radius: 5px;
}


/*----------- SERVICES -----------*/
#services{
	background-color: #F17C72;
	text-align: center;
	color: #fff;
	padding: 70px;
}

#services.flex-container{ /*Todo pegado para que sea service y tb flex-container*/
	justify-content: space-around; /*Solo eje X*/
	flex-wrap: wrap;
}

.box-services{
	font-size: 1.2em;
	font-weight: bold;
	overflow: hidden;
}

.img-sevices{
	width: 350px;
}
/*----------- SECTION COMPU -----------*/
.img-fondo-compu{
	width: 100%;
}

#fondo-compu.flex-container{
	flex-direction: column;
	align-items: center;
}

#fondo-compu p{
	padding: 0 60px;
	text-align: center;
}

/*----------- SECTION PROYECTO -----------*/
#img-proyecto-fotos{
	background-color: #white;
	text-align: center;
	padding: 20px 50px;
}

#img-proyecto-fotos.flex-container{ /*Todo pegado para que sea service y tb flex-container*/
	flex-direction: row; /*Solo eje X*/	
	justify-content: center;
}


.img-proyecto{
	width: 350px;
	padding: 0 30px;
	overflow: hidden;
	cursor: pointer;
}

.img-pro{
	width: auto;	
}


/*----------- FOOTER -----------*/
footer{
  text-align: center;
  height: 70px;
  background-color: #373b47;
  color: white;
  padding-top: 7px;
}

/*----------- MODAL -----------*/
.hide{
  display: none;
}

#img-proyecto-modal{
  background-color: rgba(45,206,175,0.85); 
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.modal-completo{
  width: 600px;
  height: 500px;
  background-color: white; 
  position: absolute;
  top: 12%;
  left: 25%;
  padding: 10px;
}

.close-img{
  color: rgb(45,206,175); 
  position: absolute;
  right: 30%;
  top: 15%;
  font-size: 25px;
  cursor: pointer;
}


/*----------- SCROLL -----------*/

.menu-dos{
	width: 100%;
	height: 78px;
	background-color: #1BB7BF;
	position: fixed;
	top: 0;
	left: 0;		
}

.menu-dos a:hover{
	color: white;
}







